#header{
    
    border:1px;
    width:100%;
    height:200px;
    
    
}
/* 头部*/

.tag{
    background-color: maroon;
    border:1px solid black;
    width:100%;
    height:35px;
    font-size:20px;
    text-align: center;
    
   }
   /* 导航栏*/

   /* 内容区 */
.container{
    position: relative;
     width: 50%;
     height: 100%;
     top:100px;
     margin: 0 auto;
     background: rgb(246, 239, 239);
}

.container-cont{
    padding: 20px;
}
.container-cont>li{
    list-style-type: none;
    margin-bottom: 20px;
    border-bottom: 1px  solid #ccc;
    

}
.container-cont a{
    color: #A0603D;
}
.container-cont>li:last-child{
    margin-bottom: 0px;
}

